/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: rgb(249, 188, 189);
    margin: -8px -8px 0px -8px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-table;
}

nav li {
    display: inline-block;
    margin-left: 75px;
    padding-top: 20px;
    padding-bottom: 15px;

    position: relative;
}

nav a {
    color: rgb(94, 94, 94);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;    
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(94, 94, 94);

    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;

    transition: all 250ms ease-in-out;
    transform: translateX(-50%);
}

nav a:hover::before {
    width: 100%;
}

.footer {
    background-color: #3f3f3f;
    color: white;
}
.footer-text {
    margin: 0;
    padding: 10px;
}

#email-link {
    color: white;
}

